
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title class="seriesDetailsTitle"></title>
    <!-- Fontawesome css  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- For Bootstarp Link  CSS 1-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Favicon link  -->
    <link
      rel="icon"
      type="image/png"
      href="https://bannerimgbucket.s3.ap-northeast-1.amazonaws.com/logo+copy.png"
      sizes="16x16"
    />
    <!-- Progress Bar Css  -->
    <link href="css-circular-prog-barbeta.css" rel="stylesheet" type="text/css" />
     <!--vue cdn -->
     <script src="https://unpkg.com/vue@3.0.2"></script>
     <!-- global css -->
    <link rel="stylesheet" href="global/globalbeta.css" type="text/css" />
    
    <!-- Custom css -->
    <link href="animedetailbeta.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <!-- START NAVBAR SECTION (Black Bear & Hiddan) -->
     <header class="col-12">
      <nav class="navbar navbar-expand-md navs sticky-top">
        <div class="container-fluid">
          <!-- for brand log  -->
          <a href="index.html" class="logolink"
            ><img
              src="https://bannerimgbucket.s3.ap-northeast-1.amazonaws.com/logo+copy.png"
              alt="logo"
              width="55"
              height="50"
            />
            <span class="logotitle mx-3">owatchGo</span>
          </a>
  
          <!-- toogle btn div -->
            <!-- btn for hambergur menu  -->
            <button
              class="navbar-toggler ms-auto menus"
              data-bs-toggle="collapse"
              data-bs-target="#navbarToggler"
            >
              <span class="navbar-toggler-icon bars"
                ><i class="fa-solid fa-bars"></i
              ></span>
            </button>
  
          <!-- for navbar menu  -->
          <div id="navbarToggler" class="navbar-collapse collapse navbars">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item py-2 py-md-0">
                <a class="nav-link" href="./animecollection.html">Anime</a>
              </li>
              <li class="nav-item py-2 py-md-0">
                <a class="nav-link" href="./moviecollection.html">Movie</a>
              </li>
              <li class="nav-item py-2 py-md-0">
                <a class="nav-link" href="#">Manga <sup class="sup">Coming Soon</sup></a>
              </li>
              <li class="nav-item py-2 py-md-0">
                <a class="nav-link" href="#">Light Novel <sup class="sup">Coming Soon</sup></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
   

    <!-- ______________________________________END NAVBAR______________________________________________ -->


    <!-- Start Backdrop Sectiuon -->
    <section>
      <div class="backdrops">
        <img
          src=""
          alt="movieimg" class="movieimg"
        />
      </div>
    </section>
    <!-- End Backdrop Sectiuon -->

    <!-- Start Meta Section -->
    <section>
      <div class="container-fluid metas">
        <div class="detailcontainers ms-0 ms-md-3">
          <div class="titlecontainers">
            <h1 class="titles"></h1>
          </div>

          <div class="col-12 d-flex align-items-center lineones">
            <div class="progresscontainer d-flex align-items-center">
              
              <div class="progress-circle over50 p80">
                <span class="percent"></span>
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>

              <span class="score"></span>
            </div>

            <span class="gernes mx-2"></span>

            <button class="btns mx-2 playbtn">
              <i class="fa-solid fa-play mx-2"></i>Play
            </button>
          </div>

          <div class="col-10 my-4 d-flex align-items-center linetwos">
            <div class="ratings">
              <span></span>
            </div>

            <span class="releasedates mx-2"></span>

            <span class="numberofseasons"></span>

            <span class="tran ms-5">Encoded & Translated by <span class="traname"></span></span>
          </div>

          <div class="col-12 overviews">
            <span class="article"></span>
          </div>

      </div>
    </section>
    <!-- End Meta Section -->

    <!--Start season title -->
    <section>
      <div class="seasoncontainers d-flex">
      </div>
    </section>
    <!--End season title -->

    <div class="epfooter mx-auto">
        <!-- Start episodes container -->
      <section id="app" class="episodes"> 
        <div v-for="(ep,index) in episodes" :key="ep.epnum" v-if="episodes">
          <div class="col-12 py-4 eps" v-if="datas">
            <h5 class="eptitles"><span>{{ep.epnum}}</span class="eptit" > {{datas[index].name}}</h5>
            <div class="epcontainers">
              <div class="imgcontainers">
                <img :src="`https://image.tmdb.org/t/p/w500${datas[index].still_path}`"  alt="epimgs">
              </div>
    
              <div class="col-12 col-md-7 descriptions">
                <p class="overview">{{datas[index].overview}}</p>
                <div class="subs"><span v-if="ep.eng">English </span><span v-if="ep.mm"> , Burmese</span></div>
              </div>
    
              <div class="btncontainers">
                <button class="btns watchs mx-1 my-2" @click="senddata(ep.watch)">
                  <i class="fa-solid fa-play mx-2"></i>Play Now
                </button>
                <button class="btns downloads mx-1 my-2" @click="downloaddata(ep.download)" v-if="ep.download">
                  <i class="fa-solid fa-download mx-2"></i>Download
                </button>
              </div>
            </div>
    
          </div>
        </div>

        <div v-else>
          <div class="loading">
            <img src="./global/loading.gif" alt="" width="50" height="50">
            <p class="text-light my-2">Loading</p>
          </div>
        </div>
        
      </section>
      <!--End episodes container -->

     <!-- START FOOTER SRCTION -->
    <footer class="footerContainer">
      <div class="row col-12 text-center mx-auto">
        <!-- Start Logo and Descriptions  -->
        <div class="col-xs-5 col-md-3 col-lg-3 flex-column footerTitles">
          <ul class="footerLogo">
            <a href="index.html" class="logoLink">
              <img
                src="https://bannerimgbucket.s3.ap-northeast-1.amazonaws.com/logo+copy.png"
                alt="logo"
                width="55"
                height="50"
              />
              <span class="logoTitle">owatchGo</span>
            </a>
          </ul>
          <ul>
            <p class="siteDescription">
              Enjoy anime, manga and light novels in both Myanmar and English
            </p>
          </ul>
        </div>
        <!-- End Logo and Descriptions  -->

        <!-- Start Company Section  -->
        <div class="col-xs-5 col-md-3 col-lg-3 flex-column footerTitles">
          <ul class="footerSubSectionTitles">
            Company
          </ul>
          <ul class="footerListHeader">
            <li class="footerListEach">
              <a class="footerListAttribute" href="aboutus.html">About Us</a>
            </li>
          </ul>
        </div>
        <!-- End Company Section  -->

        <!-- Start Community Section  -->
        <div class="col-xs-5 col-md-3 col-lg-3 flex-column footerTitles">
          <ul class="footerSubSectionTitles">
            Community
          </ul>
          <ul class="footerListHeader">
            <li class="footerListEach">
              <a class="footerListAttribute" href="handbook.html">Handbook</a>
            </li>
            <li class="footerListEach">
              <a class="footerListAttribute" href="privacypolicy.html"
                >Privacy Policy</a
              >
            </li>
            <li class="footerListEach">
              <a class="footerListAttribute" href="termsandcondition.html"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
        <!-- End Community Section  -->

        <!-- Start Social Section  -->
        <div class="col-xs-5 col-md-3 col-lg-3 flex-column footerTitles">
          <ul class="footerSubSectionTitles">
            Social
          </ul>
          <ul class="footerListHeader">
            <li class="footerListEach">
              <a
                class="footerListAttribute"
                href="https://www.facebook.com/Go-Watch-Go-100581029177286/"
                >Facebook</a
              >
            </li>
            <li class="footerListEach">
              <a
                class="footerListAttribute"
                href="https://t.me/gowatchgo123456gwg"
                >Telegram</a
              >
            </li>
          </ul>
        </div>
        <!-- End Social Section  -->
      </div>
    </footer>
    <!-- END FOOTER SECTION  -->

    <!-- ______________________________________END FOOTER______________________________________________ -->

    <!-- START COPYRIGHT SECTION  -->
    <div class="copyright text-center">
      <p>GowatchGo 2022 | All Right Reserved.</p>
    </div>
    <!-- END COPYRIGHT SECTION  -->

    <!-- ______________________________________END COPYRIGHT______________________________________________ -->

    </div>
    

    <!-- For Bootstrap Link JS 2 -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <!-- firebase js -->
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"
    ></script>
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"
    ></script>
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"
    ></script>
    <!-- Custom Js  -->
    <script type="text/javascript" defer src="animedetailbeta.js"></script>
  </body>
</html>