<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Watch Go</title>
    <!-- VUE CDN link  -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Fontawesome css  -->
    <link rel="stylesheet" href="./global/Font-Awesome/css/all.min.css">
    <!-- For Bootstarp Link  CSS 1-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Progress Bar Css  -->
    <link href="css-circular-prog-bar.css" rel="stylesheet" type="text/css" />
    <!-- global css -->
    <link rel="stylesheet" href="global/global.css" type="text/css" />
    <!-- Custom css -->
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- START NAVBAR SECTION (Black Bear & Hiddan) -->
    <nav class="navbar navbar-expand-sm bg-dark fixed-top navs">
      <div class="container-fluid">
        <!-- for brand log  -->
        <a href="index.html" class="logolink"
          ><img
            src="https://bannerimgbucket.s3.ap-northeast-1.amazonaws.com/logo+copy.png"
            alt="logo"
            width="55"
            height="50"
          />
          <span class="ms-3 logotitle">owatchGo</span>
        </a>

        <!-- toogle btn div -->
        <div class="ms-auto">
          <!-- btn for search btn  -->
          <button
            class="navbar-toggler ms-auto searchmobilebtns"
            data-bs-toggle="collapse"
            data-bs-target="#searchToggler"
          >
            <span class="searchtogglers"><i class="fas fa-search"></i></span>
          </button>

          <!-- btn for hambergur menu  -->
          <button
            class="navbar-toggler me-auto menus"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
          >
            <span class="navbar-toggler-icon bars"
              ><i class="fa-solid fa-bars"></i
            ></span>
          </button>
        </div>

        <!-- for navbar menu  -->
        <div id="navbarToggler" class="navbar-collapse collapse navbars">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item py-2 py-md-0">
              <a class="nav-link" href="./animecollection.html">Anime</a>
            </li>
            <li class="nav-item py-2 py-md-0">
              <a class="nav-link" href="./moviecollection.html">Movie</a>
            </li>
            <li class="nav-item py-2 py-md-0">
              <a class="nav-link" href="#">Manga <sup class="sup">Coming Soon</sup></a>
            </li>
            <li class="nav-item py-2 py-md-0">
              <a class="nav-link" href="#">Light Novel <sup class="sup">Coming Soon</sup></a>
            </li>
          </ul>
        </div>
        <!-- for search bar -->
        <div
          class="navbar-collapse collapse py-2 py-md-0 searchdivs"
          id="searchToggler"
        >
          <div class="d-flex ms-auto searchs">
            <input
              type="text"
              class="form-control searchbars"
              placeholder="Search ..."
            />
            <button class="searchbtns" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <!-- ______________________________________END NAVBAR______________________________________________ -->

    <!-- START BANNER SECTION (Black Bear) -->
    <div id="banner">
      <section>
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators" v-for="(banner,index) in banners">
            <!-- <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              class="carouselIndicator"
              aria-current="true"
            ></button> -->
            
          </div>
          <div class="carousel-inner banner" v-if="banners">
            <div
              v-for="(banner,index) in banners"
              :key="banner.id"
              class="row carouselImages carousel-item"
              :class="{ 'active': index === active }"
            >
              <div class="container">
                <!-- banner background image  -->
                <img :src="banner.bgposter" class="bannerBg" alt="..." />
                <div
                  class="col-6 carousel-caption text-start carouselInfos"
                  v-if="banner.type !== 'nextpj'"
                >
                  <h2 class="seriesHeader">{{banner.name}}
                    <span class="ms-3 btn contentType typeMovie"
                      >{{banner.type}}</span
                    >
                  </h2>

                  <!-- eng sub, Myanmar sub sign  -->
                  <div class="noticeSign">
                    <div v-if="banner.type == 'Movie'">
                      <span class="btn bg-success text-light me-2">
                        <span v-if="banner.onair">Air on {{banner.onair}}</span>
                        <span v-else>Avaliable</span>
                      </span>
                    </div>
                    <div v-if="banner.type == 'Ongoing'">
                      <span class="btn bg-success text-light me-2" v-if="banner.engsub">
                        <span >English Sub (Available)</span>
                      </span>
                      <span class="btn bg-danger text-light" v-if="banner.burmesesub">
                        <span 
                          >Burmese Sub (Available)</span
                        >
                      </span>
                    </div>
                    <div v-if="banner.type == 'Series'">
                      <span class="btn bg-danger text-light me-2">
                        <span v-if="banner.onair">Every {{banner.onair}}</span>
                      </span>
                    </div>
                  </div>

                  <!-- overview  -->
                  <p class="seriesSummary">{{banner.overview}}</p>
                  <!-- play now btn to connect with aao link  -->
                  <div v-if="!banner.onair && banner.type == 'Movie'">
                    <a :href="banner.link" class="btn btn-lg bg-light bannerBtns"
                    ><i class="fa-solid fa-play mx-2"></i>Play Now</a
                  >
                  </div>
                  <div v-if="banner.type !== 'Movie'">
                    <a :href="banner.link" class="btn btn-lg bg-light bannerBtns"
                    ><i class="fa-solid fa-play mx-2"></i>Play Now</a
                  >
                  </div>
                </div>
                <div v-else>
                  <div class="col-6 carousel-caption text-start carouselInfos">
                    <h2 class="seriesHeader">{{banner.name}}
                    </h2>
                     <p class="coming">This <span v-if="banner.type == movie">movie</span v-else><span>series</span> will be avaliable here soon.</p>
                   </div>
                </div>
                <div class="col-4 miniPosterContainer">
                  <!-- banner small poster  -->
                  <img :src="banner.miniposter" class="miniPoster" />
                </div>
                <div class="carousel-caption indicators">
                  <h5><span>{{index + 1}}</span> of <span>{{banners.length}}</span></h5>
                </div>
              </div>
            
            </div>
          </div>
          <button
            class="carousel-control-prev prevBtn"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next nextBtn"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
            @click="addnum"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </div>
    <!-- END BANNER SECTION  -->

    <!-- ______________________________________END BANNER______________________________________________ -->

    <!-- START POPULAR ANIME SECTION  -->
    <section class="popular ms-1">
      <div class="container-fluid">
        <h4 class="sectiontitle">Popular Anime</h4>

        <div class="popularcontainers">
          <div class="popularcards"></div>

          <i class="fa-solid fa-chevron-right arrow popularright"></i>
          <i class="fas fa-chevron-left arrow popularleft"></i>
        </div>
      </div>
    </section>
    <!-- END POPULAR ANIME SECTION -->

    <!-- ______________________________________END POPULAR ANIME______________________________________________ -->

    <!-- START LAST ANIME UPDATE SECTION  -->
    <section class="lastupdate ms-1">
      <div class="container-fluid">
        <h4 class="sectiontitle">Last Anime Update</h4>

        <div class="lastupdatecontainers">
          <div class="lastupdatecards"></div>

          <i class="fas fa-chevron-right arrow lastupdateright"></i>
          <i class="fas fa-chevron-left arrow lastupdateleft"></i>
        </div>
      </div>
    </section>
    <!-- END LAST ANIME UPDATE SRCTION  -->

    <!-- ______________________________________END LAST ANIME UPDATE______________________________________________ -->

    <!-- START ANIME SECTION  -->
    <section class="anime ms-1">
      <div class="container-fluid">
        <h4 class="sectiontitle">Anime</h4>

        <div class="animecontainers">
          <div class="animecards"></div>

          <i class="fas fa-chevron-right arrow animeright"></i>
          <i class="fas fa-chevron-left arrow animeleft"></i>
        </div>
      </div>
    </section>
    <!-- END ANIME SECTION  -->

    <!-- ______________________________________END ANIME______________________________________________ -->

    <!-- START MOVIES SECTION  -->
    <section class="movie ms-1">
      <div class="container-fluid">
        <h4 class="sectiontitle">Movie</h4>

        <div class="moviecontainers">
          <div class="moviecards"></div>

          <i class="fas fa-chevron-right arrow movieright"></i>
          <i class="fas fa-chevron-left arrow movieleft"></i>
        </div>
      </div>
    </section>
    <!-- END MOVIES SECTION  -->
    <!-- ______________________________________END MOVIE______________________________________________ -->

    <!-- START MANGA SECTION -->
    <section class="manga">
      <div class="container-fluid">
        <h4 class="sectiontitle">Manga</h4>

        <!-- coming soon sign  -->
        <div class="mangaComingSoon">
          <h1 class="mangaSign">Coming Soon ...</h1>
        </div>
        <div class="mangacontainers">
          <div class="mangacards"></div>

          <i class="fas fa-chevron-right mangaArrow mangaRight"></i>
          <i class="fas fa-chevron-left mangaArrow mangaLeft"></i>
        </div>
      </div>
    </section>
    <!-- END MANGA SECITON -->

    <!-- ______________________________________END MANGA______________________________________________ -->

    <!-- START LIGHT NOVEL SECTION  -->
    <section class="lightnovel">
      <div class="container-fluid">
        <h4 class="sectiontitle">Light Novel</h4>
        
        <!-- coming soon sign  -->
        <div class="comingSoonSignContainer">
          <h1>Coming Soon ...</h1>
        </div>
        <div class="lightnovelcontainers">
          <div class="lightnovelcards"></div>

          <i class="d-none fas fa-chevron-right arrow lightnovelRight"></i>
          <i class="d-none fas fa-chevron-left arrow lightnovelLeft"></i>
        </div>
      </div>
    </section>
    <!-- END LIGHT NOVEL SECTION  -->

    <!-- ______________________________________END LIGHT NOVEL______________________________________________ -->

    <!-- START FOOTER SRCTION -->
    <footer class="footer">
      <div class="row container-fluid footerBox">
        <!-- start description & about us section  -->
        <div class="row col-12 col-lg-6 col-md-6">
          <div class="col-6">
            <!-- for brand log  -->
            <a href="index.html" class="logolink">
              <img
                src="https://bannerimgbucket.s3.ap-northeast-1.amazonaws.com/logo+copy.png"
                alt="logo"
                width="55"
                height="50"
              />
              <span class="ms-3 footerLogo logotitle">owatchGo</span>
            </a>

            <p>
              Enjoy anime, manga and light novels in both Myanmar and English
            </p>
          </div>
          <div class="col-6 d-flex flex-column text-end companyTitles">
            <h6 class="">Company</h6>
            <ul>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
        <!-- end description & about us section -->

        <!-- start community and social group section  -->
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 communityAndSocialBox">
          <div class="col-6 communityContainer">
            <div class="communityBox me-1">
              <h6>Community</h6>
              <ul>
                <!-- <li><a href="#">Handbook</a></li> -->
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="socialBox">
              <h6>Social</h6>
              <ul>
                <li>
                  <span><i class="fa-brands fa-facebook px-2"></i></span
                  ><a href="#">Facebook</a>
                </li>
                <li>
                  <span><i class="fa-brands fa-telegram px-2"></i></span
                  ><a href="#">Telegram</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end community and social group section  -->
      </div>
    </footer>
    <!-- END FOOTER SECTION  -->

    <!-- ______________________________________END FOOTER______________________________________________ -->

    <!-- START COPYRIGHT SECTION  -->
    <div class="col-12 copyright text-center">
      <p>GowatchGo 2022 | All Right Reserved.</p>
    </div>
    <!-- END COPYRIGHT SECTION  -->

    <!-- ______________________________________END COPYRIGHT______________________________________________ -->

    <!-- For Bootstrap Link JS 2 -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <!-- firebase js -->
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"
    ></script>
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"
    ></script>
    <script
      defer
      src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"
    ></script>
    <!-- Custom Js  -->
    <script type="text/javascript" defer src="app.js"></script>

    <!-- <script src="app.js" type="text/javascript"></script> -->
  </body>
</html>
